* {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: #d3c6aa;
    margin: 0;
    padding: 0;
    border: none;
}

window#waybar {
    background: #232a2e; /* semi-transparent */
    border-bottom: none;
    box-shadow: none;
    /* backdrop-filter: blur(10px); âŒ removed */
    transition: none;
    font-weight: bold;
}

#clock,
#battery,
#custom-dot,
#custom-gpu,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
}

#tray > .tray-item {
    margin: 0 4px;
}
